.position-3-1 {
  grid-template-rows: 20% 30% 50%;
}
.position-3-1 h1{
  color:var(--quevisitar);
}
.collage--servicios img{
  border: 7px solid var(--quevisitar);
  /* border: 5px solid var(--dondecomer); */
}
.aside--left, .aside--right--color{
  background-color: var(--quevisitar);
}
.border-bottom{
  grid-column: 4/10;
  grid-row: 4/-1;
  border-bottom: 2px solid var(--quevisitar);
}
/* CARTAS ARCHIVE */
.cartas--servicios{
 border: 1px solid var(--quevisitar);
}
.texto__container h1{
  background: var(--quevisitar);
}
.btn__servicios{
  background: var(--quevisitar);
}
.btn__servicios:hover{
  background: white;
  border: 1px solid hsl(222, 100%, 73%);
  color: hsl(222, 100%, 73%);
}
/* Fin Cartas */
.aside--right h1{
 color: var(--quevisitar);
}
.paginacion span.current {
  background-color: var(--quevisitar);
  color: white;
  border: 1px solid var(--quevisitar);
}
@media (min-width: 320px) and (max-width: 480px){
  .border-bottom {
    display: none;
  }
  .cartas--servicios {
    border-radius: 11px;
  }
  .texto__container h1 {
    grid-column: 1/7;
    border-radius:  10px 0px 0px 10px;
  }
  .aside--right {
    background-color: var(--quevisitar);
  }
  .btn__servicios {
    background: white;
  }
  .btn__servicios label {
    color: var(--quevisitar);
  }
  .position-3-1 {
    grid-template-rows: 20% 60% 20%;
  }
}
