.position-3-1 {
  grid-template-rows: 17% 35% 47%;
}
.position-3-1 h1{
  color:var(--productor);
}
.collage--servicios img{
  border: 7px solid var(--productor);
  /* border: 5px solid var(--dondecomer); */
}
.aside--left, .aside--right--color{
  background-color: var(--productor);
}
.border-bottom{
  grid-column: 4/10;
  grid-row: 4/-1;
  border-bottom: 2px solid var(--productor);
}
.aside--left, .aside--right--color{
  background-color: var(--productor);
}
/* CARTAS ARCHIVE */
.cartas--servicios{
 border: 1px solid var(--productor);
}
.texto__container h1{
  background: var(--productor);
}
.btn__servicios{
  background: var(--productor);
}
.btn__servicios:hover{
  background: white;
  border: 1px solid hsl(259, 100%, 70%);
  color: hsl(259, 100%, 70%);
}
/* Fin Cartas */
.aside--right h1{
 color: var(--productor);
}
.paginacion span.current {
  background-color: var(--productor);
  color: white;
  border: 1px solid var(--productor);
}
@media (min-width: 320px) and (max-width: 480px){
  .border-bottom {
    display: none;
  }
  .cartas--servicios {
    border-radius: 11px;
  }
  .texto__container h1 {
    grid-column: 1/7;
    border-radius:  10px 0px 0px 10px;
  }
  .aside--right {
    background-color: var(--productor);
  }
  .btn__servicios {
    background: white;
  }
  .btn__servicios label {
    color: var(--productor);
  }
  .position-3-1 {
    grid-template-rows: 7% 43% 50%;
  }
}
