.aside-right--2 {
  display: none;
  visibility: none;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin: 0 auto;
  // margin-bottom: 2rem;
  > h1 {
    align-self: center;
    margin: 1rem 0 0 0;
    text-align: center;
    font-family: var(--ffuente-boogaloo);
    font-size: 3rem;
  }
  .aside--left {
    display: none;
  }
  .aside--right {
    display: none;
  }
}
.grid-categorias--section1{
  margin-bottom: 1rem;
}

.sub-grid-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.paginacion {
  // display: none;
  // padding: 1rem;
  margin: 0 auto;
  display: flex;
  gap: 0.3rem;
  > a {
    color: black;
    text-decoration: none;
  }
}

.paginacion-btn {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  //border: 1px solid;
  //   max-width: max-content;
  padding: 0.7rem;
  margin: 0 auto;
  // margin-bottom: 1rem;
  text-decoration: none;
}
.paginacion-btn:first-child,
.paginacion-btn:last-child {
  background: var(--color-nav);
  // background-color: #222c3e;
  color: #fff;
}
.paginacion-current {
  background-color: hsl(34, 94%, 47%);
  color: #fff;
}
/* !
CARTAS
*/

.cards--servicios {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  > img {
    border-radius: 10px 10px 0 0;
  }
}
.cards--servicios:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-info {
  > a {
    text-decoration: none;
    
  }
  > h2,
  p {
    font-family: Raleway;
    margin: 0;
  }
  > h2 {
    padding: 1rem 1rem 0 1rem;
  }
  > p {
    text-align: justify;
    padding: 0 1rem;
    padding-block: 1rem;
  }
}

.card-btn {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  //border: 1px solid;
  padding: 0.7rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  text-decoration: none;
}
.card-btn,
a,
button > label {
  cursor: pointer;
}
//  mejorar comentarios
// Not dry code :C but more quick this way lmao
.section-info {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  > h1 {
    margin: 0;
    text-align: center;
    font-family: var(--ffuente-boogaloo);
    // Revisar tamaño de letra
  }
  > p {
    text-align: justify;
    margin-top: 0;
    //padding: 0 1.5rem;
  }
}
.aside-right--2 {
  > iframe {
    margin: 1rem auto;
  }
  > img {
    display: none;
  }
}

@media screen and (min-width: 860px) {
  .grid-categorias {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    gap: 1.5rem;
    > h1 {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      margin-top: 1.5rem;
    }
    p {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
  }
  .paginacion {
    grid-column: 2 / 3;
    grid-row: auto;
  }
  .section-info {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
  }
  .collage--servicios {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
  .collage--servicios > img {
    margin: 0 auto;
    margin-bottom: 2rem;

    border-radius: 10px;
    height: 18rem;
  }
  .section-info {
    > p {
      //margin: 0 3rem;
    }
  }
  .aside-right--2 {
    display: none;
  }
  .sub-grid-content {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
  }
}
@media screen and(min-width: 1280px) {
  // section * {
  //   justify-self: center;
  // }
  .grid-categorias {
    grid-template-columns: 1fr 3.5fr 1fr;
    gap: 1rem;
    > h1 {
      grid-column: 3 / 4;
      grid-row: 2 / 2;
      align-self: first baseline;
      margin: 0;
    }
    
    .paginacion {
      // align-self: end;
      grid-row: 3 / 4;
      // max-height: 15rem;
    }
    .sub-grid-content {
      align-self: start;
      flex-direction: column;
      // padding-top: 3rem;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .aside--left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    .aside--left-content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      color: black;
      background-color: #fff;
      border-radius: 10px;
      > *:not(h2) {
        border-bottom: 1px solid whitesmoke;
        text-align: center;
      }
      > a {
        padding: 0.8rem;
        color: black;
      }
      > h2 {
        margin: 0;
        text-align: center;
      }
    }
    .icon-aside--left {
      max-height: 13rem;
    }
    .aside--right {
      display: flex;
      flex-direction: column;
      align-self: end;
      margin-bottom: 1rem;
    }
    .aside--right,
    .aside-right--2 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
  .cards--servicios {
    display: flex;
    .img--servicios {
      object-fit: cover;
      object-position: center;
      max-width: 15rem;
      border-radius: 10px 0 0 10px;
    }
    
  }

  .cards--servicios{
    .img--noticias-post{
      max-width: 11rem;
    }}

  .card-info {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    padding: 0.7rem;
    h2,
    p {
      margin: 0rem;
      padding: 0rem;
    }
    button {
      margin: 0;
    }
    > a {
      align-self: flex-end;
    }
  }
  .section-info{
    > h1 {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
    > p {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}
