/*
    Header Styles
*/
.custom-header {
  font-family: "Raleway";
  display: block;
  // flex-direction: column;
  // margin: 0 auto;
  // row-gap: 0;
  // place-items: center;
  .header-logo {
    object-fit: cover;
  }

  img {
    min-height: 10vh;
  }
}
/*
    Barra de navegación
*/
nav {
  background: var(--color-nav);
  //box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.7);
  // width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  transform-origin: top center;
  transition: 3ms all ease-out;
  @media screen and (min-width: 640px) {
    border-radius: 0 0 10px 10px;
  }
}
.menu {
  margin: 0;
  padding: 0;
  // margin: 1rem 2rem;
  display: none;
}
.menu,
.sub-menu {
  list-style-type: none;
}
.menu a {
  color: #fff;
  text-decoration: underline;
}
.mobile-nav-toggle {
  display: block;
  position: relative;
  background-color: transparent;
  background-image: url("../images/icons/bars-solid.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1.5rem;
  border: 0;
  // margin: 0.5rem;
}
.menu[data-visible="true"] {
  display: block;
  transition: 2s;
}
.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url("../images/icons/times-solid.svg");
}

@media screen and (min-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }
  .menu {
    display: grid;
    gap: 1rem;
  }
  nav {
    display: grid;
    place-items: center;
    > ul {
      grid-auto-flow: column;
    }
  }
  .sub-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    //Pull up to overlap the parent list item very slightly
    top: calc(100% - 0.25rem);
    // Use the left from absolute position to shift the left side
    left: 50%;
    // Use translateX to shift the menu 50% of it's width back to the left
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15em 0.25em rgba(black, 0.25);
    padding: 0.5rem 0.5rem;
    min-width: 16ch;
    z-index: 2;

  }
  .sub-menu {
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    opacity: 0.3;
    visibility: hidden;
    transition: 280ms all ease-out;

    > li {
      margin: 0.3rem 0;
      text-align: center;
      > a {
        color: black;
      }
    }
    
    
  }
  
  nav {
    > ul {
      > li {
        // All links contained in the li
        a,
        .menu-item-has-children {
          text-align: center;
          display: inline-block;
          font-size: 1rem;
        }

        // Only direct links contained in the li
        > a,
        .menu-item-has-children {
          padding: 0.5rem 0.2rem;
        }
      }
    }
  }
  .menu-item-has-children {

    position: relative;
    &:hover,
    &:focus-within {
      .sub-menu {
        opacity: 1;
        transform: rotateX(0) translateX(-50%);
        visibility: visible;
        transition: 280ms all 120ms ease-out;
      }
    }
  }
  .menu-item-has-children > a {
    display: inline-flex;
    align-items: center;

    &:after {
      content: "";
      border: 0.35rem solid transparent;
      border-top-color: rgba(#fff, 0.45);
      margin-left: 0.25em;
      transform: translateY(0.15em);
    }
  }
}



