/*

Header Styles

*/

.custom-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 0;
  .header-logo {
    object-fit: fill;
  }
}
/*
Barra de navegación
*/
.nav {
  background: linear-gradient(90.28deg, #082b7d 0%, #0465d6 100%);
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.7);
  height: auto;
  @media screen and (min-width: 640px){
    border-radius: 0 0 10px 10px;
  }
  .menu {
    padding: 0;
    margin: 1rem 2rem;
    display: none;
  }
  .menu,
  .sub-menu {
    list-style-type: none;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  .mobile-nav-toggle {
    display: block;
    position: relative;
    background-color: transparent;
    background-image: url("/src/images/icons/bars-solid.svg");
    background-repeat: no-repeat;
    height: 1.5rem;
    border: 0;
    margin: 0.5rem;
  }
  .menu[data-visible="true"] {
    display: block;
    transition: 2s;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/src/images/icons/times-solid.svg");
  }
  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      gap: 1rem;
      justify-content: center;
      width: 100%;
      padding: 0.5rem;
      margin: 0;
    }
    .sub-menu {
      display: none;
    }
    .mobile-nav-toggle {
      display: none;
    }
  }
}
