:root {
  --color-dondecomer: hsla(339, 100%, 37%, 0.8);
  --color-dondedormir: hsla(35, 88%, 49%, 0.8);
  --color-quevisitar: hsla(221, 60%, 52%, 0.8);
  --color-artesania: hsla(0, 100%, 41%, 0.8);
  --color-emprendedor: hsla(29, 100%, 37%, 0.8);
  --color-productor: hsla(259, 69%, 43%, 0.8);
  --color-backgroundcolor: hsla(0, 0%, 100%, 0.702);
  --color-servicios: rgba(208, 0, 0, 0.8);
  --color-productos: rgba(146, 96, 55, 0.8);
  --color-nav: linear-gradient(90.28deg, #082b7d 0%, #0465d6 100%);
  --ffuente-amaranth: "Amaranth";
  // --ffuente-Raleway: "Raleway";
  --ffuente-bebasNeue: "Bebas Neue";
  --ffuente-boogaloo: "Boogaloo";

  --fs-mobile: clamp(.8rem, 10vw + .8rem, 1rem);
  --fs-tablet: clamp( .9rem, 10vw + .9rem, 1rem);
  --fs-desktop: clamp( 1rem, 10vw + 1rem, 1.25rem);
  --fs-big-desktop: clamp(1.5rem, 100vw + 2rem, 2.5rem);

  --tablet-screen: 640px;
  --big-tablet-screen: 860px;

  --desktop-screen: 1024px;
  --medium-desktop-screen: 1280px;
  --big-desktop-screen: 1580px;
}

// Clase de background
.donde-comer {
  background-color: var(--color-dondecomer);
}
.donde-dormir {
  background-color: var(--color-dondedormir);
}
.que-visitar {
  background-color: var(--color-quevisitar);
}
.artesania {
  background-color: var(--color-artesania);
}
.emprendedor {
  background-color: var(--color-emprendedor);
}
.productor {
  background-color: var(--color-productor);
}
//Asides Colores de background
.aside--productos {
  grid-row: 1/2;
}

// moar

/*
Clases especificas
*/
.color-categoria--dondecomer {
  color: var(--color-dondecomer);
}
.bkcolor-categoria--dondecomer {
  background-color: var(--color-dondecomer);
}
.border-categoria--dondecomer {
  border: 0.5rem solid var(--color-dondecomer);
}

.color-categoria--dondedormir {
  color: var(--color-dondedormir);
}
.border-categoria--dondedormir {
  border: 0.5rem solid var(--color-dondedormir);
}
.bkcolor-categoria--dondedormir {
  background-color: var(--color-dondedormir);
}

.color-categoria--quevisitar {
  color: var(--color-quevisitar);
}
.border-categoria--quevisitar {
  border: 0.5rem solid var(--color-quevisitar);
}
.bkcolor-categoria--quevisitar {
  background-color: var(--color-quevisitar);
}

.color-categoria--artesania {
  color: var(--color-artesania);
}
.border-categoria--artesania {
  border: 0.5rem solid var(--color-artesania);
}
.bkcolor-categoria--artesania {
  background-color: var(--color-artesania);
}

.color-categoria--emprendedores {
  color: var(--color-emprendedor);
}
.border-categoria--emprendedores {
  border: 0.5rem solid var(--color-emprendedor);
}
.bkcolor-categoria--emprendedores {
  background-color: var(--color-emprendedor);
}

.color-categoria--productores {
  color: var(--color-productor);
}
.border-categoria--productores {
  border: 0.5rem solid var(--color-productor);
}
.bkcolor-categoria--productores {
  background-color: var(--color-productor);
}


@media screen and (min-width: 440px) {
  .container {
    max-width: calc(100vw - 10vw);
    margin: 0 auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1580px) {
  .container {
    max-width: calc(100vw - 30vw);
    margin: 0 auto;
    overflow-x: hidden;
  }
}
.sr-only {
  display: none;
}

.content {
  background-color: var(--color-backgroundcolor);
  padding: 0 1rem 1rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 320px) {
  .content {
    padding: 0;
  }
}

img {
  display: block;
}
